@model CustomerDetailsModel;
@{
    ViewData["Title"] = "Create New Customer";
    Layout = "_Layout";

}

<form asp-controller="CustomerMaster" asp-action="Create" asp-antiforgery="true" method="post" class="ui form attached fluid segment validate-me g-pt-20 col-md-12" role="form">

    <!-- Content Wrapper. Contains page content -->
    @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-8">
                    <h5>Create New Customer
                        <small style="float:right;padding-top:6px;"><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To List", "List")</small>
                    </h5>
                </div>
                <div class="col-sm-4">
                    <div class="breadcrumb float-sm-right">
                        <button type="submit" name="save" class="btn btn-info mr-sm-1">
                            <i class="far fa-save"></i>
                            Save
                        </button>

                        <button type="submit" name="save-continue" class="btn btn-info">
                            <i class="far fa-save"></i>
                            Save and Continue Edit
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
        <hr />
    </section>

    <!-- Main content -->
    <section class="content">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="row">
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>
    </section>
    <!-- /.content -->
    @*</div>*@
    <!-- /.content-wrapper -->
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");};}